section > h3 {
  font-size: var(--font-2xl);
  margin-top: 40px;
  margin-bottom: 20px;
}

section > div {
  background-color: var(--secondary-color);
  padding: 24px;
  border-radius: 12px;
  height: 370px;
}

#top-rated-movie-wrap {
  display: flex;
  overflow-x: scroll;
  gap: 24px;
}

#popular-movie-wrap {
  display: flex;
  overflow-x: scroll;
  gap: 24px;
}

#upcoming-movie-wrap {
  display: flex;
  overflow-x: scroll;
  gap: 24px;
}

#searched-movie-wrap {
  display: flex;
  overflow-x: scroll;
  gap: 24px;
}

.movie-content-wrap {
  line-height: 1.5;
  position: relative;
  cursor: pointer;
}

.movie-content-wrap > img {
  width: 200px;
  height: 300px;
  border-radius: 12px;
}

.movie-content-wrap > h4 {
  font-size: var(--font-lg);
  white-space: nowrap;
  width: 200px;
  overflow-x: scroll;
}

.movie-vote-average-text {
  font-size: var(--font-sm);
}

.movie-release-date-text {
  font-size: var(--font-sm);
}

.movie-rank-text {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 2px 2px 4px 2px;
  top: 12px;
  left: 12px;
  border-radius: 6px;
  text-align: center;
  font-size: var(--font-xl);
  background-color: var(--secondary-color);
}
